@model TET_BET.ControllersModels.AccountModel.AccountModel

<div class="text-center">
    <h1>Account</h1>
    <br/>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-5">
            <h4>Placed Bets</h4>
            @for (var i = @Model.bettingTicketsList.Count - 1; i >= 0; i--)
            {
                <div class="list-group">

                    @{
                        var status = "list-group-item-warning";
                        if (@Model.bettingTicketsList.ElementAt(i).isClosed)
                        {
                            if (@Model.bettingTicketsList.ElementAt(i).isWinner)
                            {
                                status = "list-group-item-success";
                            }
                            else
                            {
                                status = "list-group-item-danger";
                            }
                        }
                    }
                    <div class=@status>
                        <span style="float: left">
                            <b>&nbsp;Ticket #@Model.bettingTicketsList.ElementAt(i).bettingTicketID</b>
                        </span>
                        <span style="float: right">@Model.bettingTicketsList.ElementAt(i).date.ToString()&nbsp;</span>
                    </div>
                    @foreach (var bet in Model.bettingTicketsList.ElementAt(i).bets)
                    {
                        <div class="list-group-item">
                            <span style="float: left">
                                <b>@bet.betName</b>
                            </span>
                            <span style="float: right">
                                <b>@bet.odds</b>&nbsp;&nbsp;
                            </span><br/>
                            @bet.betType<br/>
                            @bet.teamName0 -
                            @bet.teamName1
                        </div>
                    }
                    <div class="list-group-item">
                        <span style="float: left">
                            Total odds:&nbsp;<b>@Model.bettingTicketsList.ElementAt(i).odds</b>
                        </span>
                        <span style="float: right">
                            Sum:&nbsp;<b>@Model.bettingTicketsList.ElementAt(i).sum</b>&nbsp;&nbsp;&nbsp;
                            Profit:&nbsp;<b>@Model.bettingTicketsList.ElementAt(i).profit</b>
                        </span>
                    </div>
                </div>
                <br/>
            }
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-5">
            <h4><span style="float: right">Account balance: lei @Model.accountBalance</span></h4>
            <br/><br/>
            <h5> Deposit money</h5>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Sum">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-block btn-info">Confirm</button>
                </div>
            </div>
            <br/>
            <h5> Withdraw money</h5>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Sum">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-block btn-info">Confirm</button>
                </div>
            </div>
            <br/><br/>
            <h4>Transaction History</h4><br/>
            <div class="list-group">
                @for (var i = @Model.transactionsList.Count - 1; i >= 0; i--)
                {
                    <div class="list-group-item">
                        <span style=float:left>
                            @Model.transactionsList.ElementAt(i).date.ToString("dd/MM/yy hh:mm")
                        </span>
                        <span style=float:right>
                            @{
                                var type = "";
                                var sign = "";
                                if (@Model.transactionsList.ElementAt(i).sum >= 0)
                                {
                                    type = "color:green";
                                    sign = "+ lei";
                                }
                                else
                                {
                                    type = "color:red";
                                    sign = "- lei";
                                }
                            }
                            <p style=@type>@sign @Math.Abs(@Model.transactionsList.ElementAt(i).sum)</p>
                        </span>
                    </div>
                }
            </div>
        </div>

    </div>
</div>