@using TET_BET.ControllersModels.FootballEventBetsModel
@model TET_BET.ControllersModels.FootballEventBetsModel.FootballEventBetsModel

@using TET_BET.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>@Model.teamName0 - @Model.teamName1</h1>
    <p>@Model.bettingEventLocation, @Model.bettingEventDate</p>
</div>

<div class="container">
    @foreach(var betType in Model.betTypes)
    {
        <h4>@betType.betTypeName</h4>
        <div class="row">
          @foreach(var bet in betType._betNameBetValueTuples)
          {
              <div class="col">
                  <button value=@bet.footballEventBetID type="button" class="btn btn-info btn-lg btn-block">
                      <span style="float:left;">@bet.betName
                      </span><span style="float:right;"><b>@bet.oddValue</b></span>
                  </button>
              </div>
          }
        </div>
    }
</div>

